/* Contact */
.contactConatinerParent{
    padding: 1rem;
    min-height: 90vh;
    width: 100%;
    border: 3px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  }

  .lineheight{
    line-height: 30px;
  }

  .i{
    color: black;
    padding: 0.5rem;
    border: 1px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  }
  .contactContainerdiv{
    margin: 0 auto;
    padding: 2rem;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .inputContainer{
    margin: 1.4rem;
    width: 100%;
  }
  form{
    width: 100%;
  }
  .contactTextContainer{
    margin-top: 2.5rem;
  }
  .contactHeader{
    margin-top: 10rem;
    font-size: 1.8rem;
    font-family: 'Mansalva', cursive;
  }
  .contactEmail{
    text-decoration: underline;
  }

  .a{
    color: black;
  }
  

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen and (max-width: 1024px){
    .contactConatinerParent{
        height: 100%;
        padding: 5rem;
        padding-top: 4rem;
    }
    .contactHeader{
      margin-top: 15rem;
    }
}

@media only screen and (max-width: 768px){
  .contactTextContainer{
    line-height: 2.3rem;
  }
}

@media only screen and (max-width: 375px), (max-width:414px){
  .contactConatinerParent{
  height: 100%;
  }
  .contactHeader{
  margin-top: 7rem;
  } 
}