/* Portfolio */
.portfolioContainerParent{
    width: 100%;
    height: 25rem;
    padding: 1rem;
    padding-top: 3.5rem;
    background: rgba(255, 0, 255, 0.07);
}

.portfolioContainer{
    width: 100%;
}
  
.portfolioContainerHtag{
    font-family: 'Mansalva', cursive;
    font-size: 2rem;
  
}
  
.portfolioATag{
    color: black;
    font-size: 1.5rem;
  
}
  
.portfolioIconContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  
}
  
.portfolioIcon{
    margin: 0.5rem 2rem;
    padding: 1rem;
    /* border: 1px solid black; */
  
}
  
.portfolioImage{
    height: 10rem;
    width: 10rem;
  
}
  
.portfolioImage1{
    background: url(../images/applications.png)no-repeat center center/cover;
  
}
  
.portfolioImage2{
    background: url(../images/blog.png)no-repeat center center/cover;
  
}

@media only screen and (max-width: 375px), (max-width:414px){
    .portfolioImage{
        height: 6rem;
        width: 6rem; 
    }
    .portfolioIcon{
        margin: 2rem 1rem;
        margin-bottom: 1rem;
        /* border: 1px solid black; */  
    }

    .portfolioATag{
        font-size: 1rem;
    }
}
  
  