.MobileNav{
    display: none;
    width: 100%;
    height: 65px;
    background-color: black;
    position: sticky;
	top:0;
    z-index: 1;
}
.MobileNav__container{
    width: 100%;
    padding: 1rem;
}

.MobileNav__logo{
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
}

.MobileNav__logoLink{
    text-decoration-color:  rgb(66, 65, 65);
}

@media only screen and (max-width: 1024px){
    .MobileNav{
        display: inline-block;
    }
}