header{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}
  
:root {
    --primary-color: rgba(0, 0, 0, 0.75);
    --overlay-color: rgba(16, 17, 17, 0.85);
    --menu-speed: 0.75s;
}
  
.fixedHeader {
    background: var(--primary-color);
    color: #fff;
    /* height: 100%; */
    width: 100%;
    height: 100%;
    position: relative;
}
  
.fixedHeader:before {
    content: ' ';
    background: url('../images/backupheader.JPG') no-repeat center center/contain;
    background-size: contain/cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
  
.headertext{
    padding-top: 18rem;
    padding-right: 20rem;
    /* border: 2px solid black; */
    width: 65%;
}
  
.headertextptag{
    padding: 0.3rem;
    text-align: center;
    font-size: 2rem;
}
  
button{
    cursor: pointer;
    height: 4rem;
    margin: 0.5rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 1.2rem;
    border: 2px solid var(--primary-color);
}
  
button:hover{
    background: rgba(20, 11, 1, 0.76);
}
  
a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
    padding: 0 2rem;
}

/* contact me */
.contactBoxContainer{
    width: 100%;
    height: 10rem;
    border: 2px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
    padding: 2rem;
    background: rgba(255, 0, 255, 0.07);
  }
  
  .sendMessageButton{
    background: white;
    color: black;
    border: 1px solid;
    border-image: conic-gradient(red, yellow, lime, aqua, blue, magenta, red) 1;
  }
  
  .sendMessageButton:hover{
    background: rgba(255, 0, 255, 0.15);
    color: rgba(255, 0, 255, 0.35);
  }
  
/* ----------- iPad Pro 12.9" ----------- */
@media only screen and (max-width: 1024px){
    .fixedHeader:before {
        background: url('../images/backupheader.JPG') no-repeat;
        background-size: contain;
        height: 60vh;
    }

    header{
        height: 60vh;
    }
}

@media only screen and (max-width: 896px){
  
}

@media only screen and (max-width: 868px){
   
}

@media only screen and (max-width: 768px){
  
}

@media only screen and (max-width: 676px){
  
}

@media only screen and (max-width: 589px){

   
}

@media only screen and (max-width: 320px), (max-width: 375px), (max-width:414px){

    
}