/* ABout section */
.aboutDivParent{
    width: 100%;
}
.aboutDivContainer{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
.aboutCatchPhrase{
    margin: 0 auto;
    margin-top: 4rem;
    padding: 3rem;
    padding-bottom: 1.5rem;
    width: 65%;
    font-size: 1.8rem;
    font-family: 'Mansalva', cursive;
}
.aboutIcons{
    color: black;
    font-size: 12rem;
    margin: 2rem;
}
.aboutIcons1{
    color: black;
    font-size: 8rem;
    margin: 1rem;
}
.aboutIconsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    /* border: 1px solid black; */
}
.brandStatementContainer{
    width: 100%;
    padding: 1rem;
    text-align: center;
}
.brandStatementContainerPtag{
    padding: 1.5rem;
    line-height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    margin: 0 auto;
    width: 80%;
}

.MeCatchWords{
    font-size: 1.5rem;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    padding-bottom: 3rem;
    width: 80%;
}

.aboutCatchPhrase2{
    margin: 0 auto;
    margin-top: 1rem;
    padding: 3rem;
    padding-bottom: 1.5rem;
    width: 65%;
    font-size: 1.8rem;
    font-family: 'Mansalva', cursive;
}
.StoryDivContainerParent{
    margin: 2rem auto;
    margin-bottom: 4rem;
    width: 83%;
}

.StoryDivContainer{
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 2rem;
    row-gap: 0.5rem;
    padding: 3rem;
}
.StoryBox{
    border: 1px solid rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 22rem;
    margin: 1rem;
}
  
.storyBoxNumber{
    margin: 2rem auto;
    width: 7%;
    border-radius: 100%;
    border: 3px solid rgb(255, 0, 255);
    background: rgba(255, 0, 255, 0.68);
    color: white;
    font-weight: 700;
}
  
.storyIcon{
    color: rgba(255, 0, 255, 0.47);
    font-size: 5rem;
}
.storyBoxTextBox{
    margin: 1rem;
    margin-top: 2rem; 
}
  
.storyBoxText{
    font-size: 0.8rem;
    line-height: 20px;
    font-weight: 520;
}

/* ----------- iPad Pro 12.9" ----------- */
@media only screen and (max-width: 1024px){
    .StoryDivContainerParent{
        width: 95%;
    }
    .brandStatementContainerPtag{
        text-align: justify;
    }
    .aboutCatchPhrase{
        width: 85%;
    }
    .aboutCatchPhrase2{
        width: 100%;
    }

    .CenwachukwuPics{
        width: 550px;
    }
}

@media only screen and (max-width: 896px){
    .StoryDivContainerParent{
        width: 100%;
    }
}

@media only screen and (max-width: 868px){
    .StoryDivContainer{
        margin: 2rem auto;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}

@media only screen and (max-width: 768px){
    .aboutCatchPhrase{  
        font-size: 1.6rem;
    }
    .backgroundAnchor{
        text-align: center;
        padding: 1rem;
        line-height: 2rem;
        margin: 0 auto;
        width: 90%;
    }
    .StoryDivContainer{
        margin: 2rem auto;
        width: 95%;
    }
}

@media only screen and (max-width: 676px){
    .aboutCatchPhrase{  
        font-size: 1.4rem;
    }

    .aboutIcons{
        font-size: 9.5rem;
    }

    .aboutIcons1{
        font-size: 5.5rem;
    }
    .StoryDivContainer{
        width: 100%;
    }
}

@media only screen and (max-width: 589px){

    .aboutIcons{
        font-size: 8.5rem;
    }

    .aboutIcons1{
        font-size: 4.5rem;
    }

    .StoryDivContainer{
        grid-template-columns: repeat(1, 1fr);
        width: 78%;
    }
    .storyBoxNumber{
        margin-top: 3rem auto;
    }

    .brandStatementContainerPtag{
        width: 90%;
    }
}

@media only screen and (max-width: 320px), (max-width: 375px), (max-width:414px){

    .CenwachukwuPics{
        width: 330px;
    }

    .aboutIcons{
        font-size: 6rem;
    }

    .aboutIcons1{
        font-size: 2rem;
    }

    .aboutCatchPhrase{  
        font-size: 1.2rem;
    }

    .storyBoxText{
        font-size: 0.7rem;
        line-height: 14px;
    }
    .MeCatchWords{
        font-size: 0.8rem;
        width: 100%;
    }
}